QMainWindow{background-image: url("gui/images/background-video-game.png");}
QLabel{font-size: 20px; 
background-color: transparent;}
QLineEdit{
    width: 300px;
    height: 36px;
}
QPushButton{
    width: 115px;
    height: 36px;
}

